@model IEnumerable<AttendanceManagement.Models.AttendanceStudentVM>

@{
    ViewBag.Title = "AttendanceStatus";
    Layout = "~/Views/Shared/Master.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendance_date)
        </th>
        <th>Status</th>

        @*<th>
                @Html.DisplayNameFor(model => model.marked_by)
            </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.attendance_date)
            </td>
            <td>
                @if (item.isPresent.Value)
                {
                    <span class="text-success">Present</span>
                }
                else
                {
                    <span class="text-danger">Absent</span>
                }
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.marked_by)
                </td>*@

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.attendance_id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.attendance_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.attendance_id })*@
            </td>
        </tr>
    }

</table>
